# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_df = pd.read_csv('Output_Data/cities.csv')
city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Victoria,75,BN,1571615955,83,5.28,115.24,82.40,2.24
1,Pevek,99,RU,1571615973,71,69.70,170.27,27.43,10.65
2,Chuy,100,UY,1571615976,84,-33.69,-53.46,56.81,5.39
3,Punta Arenas,0,CL,1571615933,61,-53.16,-70.91,46.40,18.34
4,Ushuaia,40,AR,1571615937,88,-54.81,-68.31,46.40,5.82
...,...,...,...,...,...,...,...,...,...
537,Fomboni,39,KM,1571616924,73,-12.28,43.74,79.05,4.41
538,Ukiah,1,US,1571616926,33,39.15,-123.21,75.99,13.87
539,Margate,40,AU,1571616927,39,-43.03,147.26,64.99,5.82
540,Mitsamiouli,0,KM,1571616928,74,-11.38,43.28,78.66,8.12
541,Popondetta,36,PG,1571616929,52,-8.77,148.24,78.68,4.97

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [13]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(city_df[['Lat', 'Lng']], weights=city_df['Humidity'], 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)


fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [14]:
idealcity_df = city_df.loc[(city_df['Max Temp']<80) &
                           (city_df['Max Temp']>70) &
                           (city_df['Wind Speed']<10) &
                           (city_df['Cloudiness']<5)].reset_index(drop=True)
idealcity_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Jamestown,0,AU,1571615935,27,-33.21,138.60,72.07,3.89
1,Francistown,0,BW,1571616444,25,-21.17,27.50,72.57,7.25
2,Buraydah,0,SA,1571616097,38,26.33,43.97,75.20,5.82
3,Saint-Leu,0,RE,1571616460,60,-21.15,55.28,71.60,8.05
4,Nizwa,0,OM,1571616465,36,22.93,57.53,72.20,1.34
5,Fort Abbas,0,PK,1571616474,31,29.19,72.85,73.49,5.91
6,Cayenne,0,GF,1571616099,94,4.94,-52.33,77.00,2.24
7,Newala,0,TZ,1571616490,79,-10.94,39.28,72.48,1.74
8,Belmonte Mezzagno,0,IT,1571616546,77,38.05,13.39,71.01,3.36
9,Ouegoa,0,NC,1571616585,79,-20.34,164.44,74.19,8.50
10,Tzaneen,0,ZA,1571616627,23,-23.83,30.16,73.40,1.12
11,Omaruru,0,NaN,1571616698,17,-21.42,15.95,76.91,6.64
12,Morros,0,BR,1571616704,88,-2.87,-44.04,78.80,9.17
13,Louis Trichardt,2,ZA,1571616717,27,-23.04,29.91,73.20,7.56
14,Atambua,4,ID,1571616732,72,-9.11,124.89,78.55,1.14
15,Orapa,0,BW,1571616762,17,-21.28,25.37,74.90,3.74
16,Mae Sai,0,MM,1571616779,100,20.44,99.89,72.00,1.45
17,Port Macquarie,0,AU,1571616789,48,-31.43,152.91,72.00,4.70
18,Pitimbu,0,BR,1571616806,83,-7.47,-34.81,77.00,6.93
19,Parkes,0,AU,1571616815,34,-33.14,148.18,71.04,4.50
20,Sur,0,OM,1571616825,46,22.57,59.53,75.11,1.23
21,Pacific Grove,1,US,1571616828,45,36.62,-121.92,75.99,5.82
22,Nangomba,0,TZ,1571616840,72,-10.90,38.52,74.68,6.15
23,Qena,0,EG,1571616904,33,26.16,32.72,75.20,2.68
24,Chirongui,0,YT,1571616923,88,-12.93,45.15,75.20,3.36
25,Mitsamiouli,0,KM,1571616928,74,-11.38,43.28,78.66,8.12

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
hotel_df = idealcity_df.copy()
hotel_df['Hotel Name'] = ''

In [16]:
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

for index, row in hotel_df.iterrows():
    response = requests.get(url, params={'location':f"{row['Lat']},{row['Lng']}",
                                         'rankby':'distance',
                                         'type':'lodging',
                                         'key':g_key})
    try:
        hotel_df.iloc[index, 9] = response.json()['results'][0]['name']
    except IndexError:
        hotel_df.iloc[index, 9] = np.nan
hotel_df = hotel_df.dropna()

In [17]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Jamestown,0,AU,1571615935,27,-33.21,138.60,72.07,3.89,Jamestown Villas
1,Francistown,0,BW,1571616444,25,-21.17,27.50,72.57,7.25,Sunny Side
2,Buraydah,0,SA,1571616097,38,26.33,43.97,75.20,5.82,മിനി ഹോട്ടൽ
3,Saint-Leu,0,RE,1571616460,60,-21.15,55.28,71.60,8.05,Nature Bleue Meublé De Tourisme
4,Nizwa,0,OM,1571616465,36,22.93,57.53,72.20,1.34,مؤسسة الهلال الأبيض للخدمات العقاريه و مقاولات
5,Fort Abbas,0,PK,1571616474,31,29.19,72.85,73.49,5.91,AsAd's House
6,Cayenne,0,GF,1571616099,94,4.94,-52.33,77.00,2.24,Kalipso
7,Newala,0,TZ,1571616490,79,-10.94,39.28,72.48,1.74,Country Lodge
8,Belmonte Mezzagno,0,IT,1571616546,77,38.05,13.39,71.01,3.36,Case Vacanza Le Calette
10,Tzaneen,0,ZA,1571616627,23,-23.83,30.16,73.40,1.12,Eden villas
12,Morros,0,BR,1571616704,88,-2.87,-44.04,78.80,9.17,Morruense
13,Louis Trichardt,2,ZA,1571616717,27,-23.04,29.91,73.20,7.56,Solly's Record Bar & Photographic Centre
14,Atambua,4,ID,1571616732,72,-9.11,124.89,78.55,1.14,Pondok Pesantren Al Muhajirin Atambua
15,Orapa,0,BW,1571616762,17,-21.28,25.37,74.90,3.74,Thaba Lodge
16,Mae Sai,0,MM,1571616779,100,20.44,99.89,72.00,1.45,กฤษณารีสอร์ท
17,Port Macquarie,0,AU,1571616789,48,-31.43,152.91,72.00,4.70,Mercure Centro Port Macquarie
18,Pitimbu,0,BR,1571616806,83,-7.47,-34.81,77.00,6.93,Pousada Vitória Solar
19,Parkes,0,AU,1571616815,34,-33.14,148.18,71.04,4.50,Clarinda Motel
20,Sur,0,OM,1571616825,46,22.57,59.53,75.11,1.23,Alafeeh Corniche Hotel Apartments
21,Pacific Grove,1,US,1571616828,45,36.62,-121.92,75.99,5.82,3729 Ocean Park Sanctuary
23,Qena,0,EG,1571616904,33,26.16,32.72,75.20,2.68,فندق الميدان
24,Chirongui,0,YT,1571616923,88,-12.93,45.15,75.20,3.36,La Villa Mahatsara
25,Mitsamiouli,0,KM,1571616928,74,-11.38,43.28,78.66,8.12,Foyer ADM

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [22]:
# Add marker layer ontop of heat map
hotel_markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(hotel_markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))